body {
    overflow: hidden;
}

.cursor {
    position: absolute;
    width: 1px;
    height: 50px;
    left: 0;
    top: 0;
    background-color: red;
    z-index: 1000;
    pointer-events: none;
    animation: cursorBlink 1s step-end infinite;
    transform-origin: left top;
}

.text-area {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
    pointer-events: none;
    width: 1px;
}

.hide {
    display: none;
}

@keyframes cursorBlink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
